DB_HOST=localhost
DB_PORT=3306
DB_NAME=flivocom_pi4
DB_USER=flivocom_pi4app
DB_PASSWORD=altere-esta-senha

APP_URL=https://pi4.flivo.com.br
CONVITE_EXPIRACAO_HORAS=24
SESSAO_DURACAO_HORAS=8
COOKIE_SECURE=true

SMTP_HOST=pi4.flivo.com.br
SMTP_PORT=465
SMTP_USER=info@pi4.flivo.com.br
SMTP_PASSWORD=ALTERAR
SMTP_FROM=info@pi4.flivo.com.br
SMTP_USE_SSL=true
